#home {
  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }
}

#lobbyList {
	border: 1px solid black
}

#lobbyDetails {
	border: 1px solid black
}

.roomDetails span {
	display: block;
	margin:10px;
}

.roomList span {
	display: block;
	margin:10px;
}

.active {
	background-color: salmon;
}