* {
  box-sizing: border-box;
  font-family: 'Poiret One';
  font-weight: bolder;
}

body {
  background: #e9eee9;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 10px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import '../../bower_components/angular-ui-router-anim-in-out/scss/anim-in-out.scss';
@import 'room/main';
